#cards-container, #loading-cover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

#cards-container {
	--doc-width: calc(min(100vh, 100vw) * (var(--doc-ratio) - 1) / var(--doc-ratio));
	--doc-ratio: 8;
}

#cards-container > div {
	position: absolute;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(var(--doc-ratio), calc(100% / var(--doc-ratio)));
}

#cards-container > div:first-child {
	top:50%;
	left: 50%;
	width: calc(100vw - var(--doc-width) * 0.5);
	height: calc(100vh - var(--doc-width) * 0.5);
	transform: translate(-50%, -50%);
	background-color: red;
}

#cards-container > div:not(:first-child) {
	width: var(--doc-width);
	aspect-ratio: var(--doc-ratio) / 1;
}

#cards-container > div:nth-child(2) {
	bottom: 0;
	left: 0;
	right: 0;
	background-color: green;
}

#cards-container > div:nth-child(3) {
	right: calc(var(--doc-width) / (var(--doc-ratio) * 2));
	top: calc(100vh * 0.5 + var(--doc-width) * 0.5);
	transform: translateY(-50%) rotate(90deg);
	transform-origin: right center;
	background-color: blue;
}

#cards-container > div:nth-child(4) {
	top: 0;
	left: 0;
	right: 0;
	background-color: pink;
}

#cards-container > div:nth-child(5) {
	left: calc(var(--doc-width) / (var(--doc-ratio) * 2));
	top: calc(100vh * 0.5 + var(--doc-width) * 0.5);
	transform: translateY(-50%) rotate(-90deg);
	transform-origin: left center;
	background-color: aqua;
}

#cards-container > div .card {
	&, & img {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

#loading-cover {
	background-color: #000000;
	opacity: 1;
	transition: opacity 0.2s linear;
}

#loading-cover.hide {
	opacity: 0;
	pointer-events: none;
}
