#cards-container, #loading-cover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

#cards-container > div {
	position: absolute;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(8, 12.5%);
}

#cards-container > div:first-child {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 50%;
	height: 50%;
	background-color: red;
}

#cards-container > div:not(:first-child) {
	width: min(100vh, 100vw);
	aspect-ratio: 8 / 1;
}

#cards-container > div:nth-child(2) {
	bottom: 0;
	left: 0;
	right: 0;
	background-color: green;
}

#cards-container > div:nth-child(3) {
	right: 0;
	transform: rotate(90deg) translateY(50%);
	background-color: blue;
}

#cards-container > div:nth-child(4) {
	background-color: pink;
}

#cards-container > div:nth-child(5) {
	background-color: aqua;
}

#cards-container > div .card {
	&, & img {
		position: relative;
		top: 0;
		left: 0;
		width: auto;
		height: 100%;
	}
}

#loading-cover {
	background-color: #000000;
	opacity: 1;
	transition: opacity 0.2s linear;
}

#loading-cover.hide {
	opacity: 0;
	pointer-events: none;
}
