:root {
	--background-color: #000000;
	--cards-cont-height: 150px;
	--card-width: calc(var(--cards-cont-height) * 0.75);
	--card-image-asp: 1.384;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	user-select: none;
}

html {
	font-size: 16px;
}

html, body {
	width: 100%;
	height: 100%;
	height: 100svh;
}

body {
	background-color: var(--background-color);
}

#board-cont {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#throw-area-cont {
	isolation: isolate;
	position: absolute;
	top: 0;
	width: 100%;
	height: calc(100% - var(--cards-cont-height));
	background-image: radial-gradient(circle at 50% 50%, #6f6, #040);
	container: throw-area-cont / size;
}

#throw-area {
	position: absolute;
	top: 50%;
	left: 50%;
	width: auto;
	height: calc(100% - 50px);
	aspect-ratio: 1 / 1;
	transform: translate(-50%, -50%);
}

#throw-area .card {
	position: absolute;
	width: 25%;
	aspect-ratio: calc(1 / var(--card-image-asp));
	background-color: #ffffff;
	border: 2px solid #000000;
	transform-origin: bottom center;
	box-shadow: 0 0 5px #00000088;
	transition: all 0.4s linear;
}

#throw-area .card[class*="remove-from-board"] {
	opacity: 0;
}

#throw-area .card.remove-from-board-bottom {
	bottom: 0 !important;
	left: 50% !important;
	transform: translate(-50%, 100%) !important;
}

#throw-area .card.remove-from-board-right {
	right: 0 !important;
	top: 50% !important;
	transform: translate(100%, -50%) !important;
}

#throw-area .card.remove-from-board-top {
	top: 0 !important;
	left: 50% !important;
	transform: translate(-50%, -100%) !important;
}

#throw-area .card.remove-from-board-left {
	left: 0 !important;
	top: 50% !important;
	transform: translate(-100%, -50%) !important;
}

#throw-area .card.bottom {
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	animation: card-spin-bottom 0.3s ease-out;
}

#throw-area .card.right {
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	animation: card-spin-right 0.3s ease-out;
}

#throw-area .card.top {
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	animation: card-spin-top 0.3s ease-out;
}

#throw-area .card.left {
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	animation: card-spin-left 0.3s ease-out;
}

#cards-cont {
	isolation: isolate;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: var(--cards-cont-height);
	background-image: repeating-conic-gradient(from 45deg, #492323 0deg 45deg, #666d08 45deg 90deg);
	background-size: 20px 20px;
	border-top: 5px solid #666d08;
	box-shadow: 0 -5px 5px #00000066;
}

#cards-cont .card {
	position: absolute;
	bottom: calc(var(--cards-cont-height) * -0.1);
	left: calc(50% - var(--card-width) * 0.5);
	width: var(--card-width);
	height: calc(var(--card-width) * var(--card-image-asp));
	background-color: #ffffff;
	border: 2px solid #000000;
	transform-origin: bottom center;
	cursor: pointer;
	transition: transform 0.4s linear;
}

#cards-cont .card:hover {
	border: 5px solid #88f;
}

.card img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

#alert-cont {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: opacity 0.2s linear;
}

#alert-cont > div {
	position: absolute;
	padding: 0.5rem;
	top: 50%;
	left: 50%;
	width: fit-content;
	height: fit-content;
	transform: translate(-50%, -50%);
	background-color: #26ff8f;
	display: grid;
	align-content: center;
	justify-items: center;
	gap: 1rem;
	border-radius: 1rem;
	box-shadow: 0 0 5px #000000;
	transition: transform 0.1s linear;
}

#alert-message {
	position: relative;
	padding: 0.5rem;
	top: 0;
	left: 0;
	width: 100%;
	max-width: 500px;
	background-color: #28cf79;
	color: #000000;
	font-size: 1.5rem;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
	font-weight: 900;
	border-radius: 0.5rem;
	box-shadow: inset 0 0 5px #000000;
}

#alert-close-btn {
	position: relative;
	padding-block: 0.5rem;
	padding-inline: 2rem;
	background-color: #28cf79;
	color: #000000;
	font-size: 1.5rem;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
	font-weight: 900;
	border-radius: 0.5rem;
	box-shadow: 0 0 5px #000000;
	transition: background-color 0.2s linear;
}

#alert-close-btn:hover {
	background-color: #33f792;
}

#alert-close-btn input {
	--webkit-appearance: none;
	appearance: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

#alert-cont:has( input:checked) {
	pointer-events: none;
	opacity: 0;
}

#alert-cont:has( input:checked) > div {
	transform: translate(-50%, -50%) scale(0.6);
}

#trump-indicator {
	position: absolute;
	top: 0;
	right: 0;
	width: 10%;
	aspect-ratio: 1 / 1;
}

#trump-indicator div {
	position: absolute;
	left: 0;
	width: 100%;
}

#trump-indicator div:first-child {
	top: 0;
	height: 100%;
	background-position: center center;
	background-size: 80% 80%;
	background-repeat: no-repeat;
}

#trump-indicator.club div:first-child {
	background-image: url(res/img/suits/club.png);
}

#trump-indicator.spade div:first-child {
	background-image: url(res/img/suits/spade.png);
}

#trump-indicator.diamond div:first-child {
	background-image: url(res/img/suits/diamond.png);
}

#trump-indicator.heart div:first-child {
	background-image: url(res/img/suits/heart.png);
}

#trump-indicator div:last-child {
	top: 100%;
	height: fit-content;
	font-size: 0.9rem;
	font-weight: 900;
	text-align: center;
}

@container throw-area-cont (aspect-ratio < 1) {
	#throw-area {
		width: calc(100% - 50px);
		height: auto;
	}
}

@keyframes card-spin-bottom {
	from {
		rotate: 0deg;
		translate: 0 100%;
		opacity: 0;
	}

	to {
		translate: 0 0;
		opacity: 1;
	}
}

@keyframes card-spin-right {
	from {
		rotate: 0deg;
		translate:100% 0;
		opacity: 0;
	}

	to {
		translate: 0 0;
		opacity: 1;
	}
}

@keyframes card-spin-top {
	from {
		rotate: 0deg;
		translate: 0 -100%;
		opacity: 0;
	}

	to {
		translate: 0 0;
		opacity: 1;
	}
}

@keyframes card-spin-left {
	from {
		rotate: 0deg;
		translate: -100% 0;
		opacity: 0;
	}

	to {
		translate: 0 0;
		opacity: 1;
	}
}
