:root {
	--background-color: #000000;
	--cards-cont-height: 150px;
	--card-width: calc(var(--cards-cont-height) * 0.75);
	--card-image-asp: 1.384;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	user-select: none;
}

html {
	font-size: 16px;
}

html, body {
	width: 100%;
	height: 100%;
	height: 100svh;
}

body {
	background-color: var(--background-color);
}

#board-cont {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#throw-area-cont {
	isolation: isolate;
	position: absolute;
	top: 0;
	width: 100%;
	height: calc(100% - var(--cards-cont-height));
	background-image: radial-gradient(circle at 50% 50%, #6f6, #040);
	container: throw-area-cont / size;
}

#throw-area {
	position: absolute;
	top: 50%;
	left: 50%;
	width: auto;
	height: calc(100% - 50px);
	aspect-ratio: 1 / 1;
	transform: translate(-50%, -50%);
}

#throw-area .card {
	position: absolute;
	width: 25%;
	aspect-ratio: calc(1 / var(--card-image-asp));
	background-color: #ffffff;
	border: 2px solid #000000;
	transform-origin: bottom center;
	box-shadow: 0 0 5px #00000088;
}

#throw-area .card.bottom {
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	animation: card-spin-bottom 0.3s ease-out;
}

#throw-area .card.right {
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	animation: card-spin-right 0.3s ease-out;
}

#throw-area .card.top {
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	animation: card-spin-top 0.3s ease-out;
}

#throw-area .card.left {
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	animation: card-spin-left 0.3s ease-out;
}

#cards-cont {
	isolation: isolate;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: var(--cards-cont-height);
	background-image: repeating-conic-gradient(from 45deg, #492323 0deg 45deg, #666d08 45deg 90deg);
	background-size: 20px 20px;
	border-top: 5px solid #666d08;
	box-shadow: 0 -5px 5px #00000066;
}

#cards-cont .card {
	position: absolute;
	bottom: calc(var(--cards-cont-height) * -0.1);
	left: calc(50% - var(--card-width) * 0.5);
	width: var(--card-width);
	height: calc(var(--card-width) * var(--card-image-asp));
	background-color: #ffffff;
	border: 2px solid #000000;
	transform-origin: bottom center;
	cursor: pointer;
	transition: transform 0.4s linear;
}

#cards-cont .card:hover {
	border: 5px solid #88f;
}

.card img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

@container throw-area-cont (aspect-ratio < 1) {
	#throw-area {
		width: calc(100% - 50px);
		height: auto;
	}
}

@keyframes card-spin-bottom {
	from {
		rotate: 0deg;
		translate: 0 100%;
		opacity: 0;
	}

	to {
		translate: 0 0;
		opacity: 1;
	}
}

@keyframes card-spin-right {
	from {
		rotate: 0deg;
		translate:100% 0;
		opacity: 0;
	}

	to {
		translate: 0 0;
		opacity: 1;
	}
}

@keyframes card-spin-top {
	from {
		rotate: 0deg;
		translate: 0 -100%;
		opacity: 0;
	}

	to {
		translate: 0 0;
		opacity: 1;
	}
}

@keyframes card-spin-left {
	from {
		rotate: 0deg;
		translate: -100% 0;
		opacity: 0;
	}

	to {
		translate: 0 0;
		opacity: 1;
	}
}
